# Folders
**/my_secret.py
.vscode
*.bat
*.save

# Files
SourceCode/Scripts/secret.py

SourceCode/Scripts/pass_applier_remover.py

SourceCode/doc/secret_rasp.txt

SourceCode/Raspberry_Pi_2/secret.json
